# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ===============================
# VIRTUAL ENV
# ===============================
venv/
.env/
.env

# ===============================
# FLASK
# ===============================
instance/
*.log

# ===============================
# DATABASE
# ===============================
*.sql
*.db

# ===============================
# VS CODE
# ===============================
.vscode/

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# NODE (if added later)
# ===============================
node_modules/

# ===============================
# SECRETS
# ===============================
.env
config.py

# ===============================
# BUILD / TEMP FILES
# ===============================
dist/
build/
*.tmp

*.exe
db/
